@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9eae1;
    font-family: 'Dancing Script', cursive;
}

h1 {
    font-size: 35px;
}

button {
    border-radius: 20px;
    padding: 10px;
    background-color: #d1be9c;
    color: #463f3a;
    font-size: 25px;
    border: 0;
    box-shadow: 3px 3px 5px -1px rgba(66, 66, 66, 0.75);
    cursor: pointer;
}

.container {
    max-width: 1180px;
    margin: auto;
}

.box-temp {
    background-color: #d8e2dc;
    color: #463f3a;
}

.box {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 10px;
}

.box p{
    font-size: 22px;
    font-weight: bold;
    transition: all ease .2s;
    margin-top: 20px;
    border: 1px solid #ffea00;
}

.box-input {
    width: 100%;
    padding: 30px 50px;
    display: flex;
    justify-content: center;
}

input {
    width: 100%;
    border: 0;
    outline: 0;
    text-indent: 5px;
    height: 35px;
    font-size: 22px;
    font-family: 'Inconsolata', monospace;
}

.box-input label {
    width: 100%;
    max-width: 450px;
    height: 35px;
    font-size: 25px;
    font-weight: 600;
}

.lupa {
    display: flex;
    background-color: #fff;
    border: 1px solid #DDD;
    border-radius: 3px;
    align-items: center;
}

.response {
    width: 100%;
    padding: 50px 30px;
    display: flex;
    gap: 30px;
    justify-content: center;
    background-color: #582f0e;
    border-radius: 20px;
    margin: 20px 0;
}

#fahrenheit,
#kelvin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-basis: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(180deg,#f4f1de 0%, #d1be9c 80%);
    border: 3px solid #ffbe0b;
    font-size: 23px;
}

.tempResp {
    transition: all ease .5s;
}

@media screen and (max-width: 430px) {
    h1 {
        font-size: 25px;
    }

    .box-input label {
        font-size: 20px;
    }

    #fahrenheit,
    #kelvin {
        font-size: 16px;
        flex-basis: 150px;
        height: 150px;
    }

    button {
        border-radius: 15px;
        padding: 8px;
        font-size: 20px;
    }
}